 <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
  <div class="primary-container__tile">
    <p>Profile</p>
    <figure class="primary-container__tile-img">
      <%= display_img({src: '/assets/profile-img.png', alt: 'profile-image'}) %>

    </figure>
    <p><span class="green">80%</span> Complete</p>
    <div class="primary-container__btn-box">
      <%= link_to 'Edit', '#', {class: 'button button--outline'} %>
      <%= link_to 'New', '#', {class: 'button button--outline'} %>
    </div>
  </div>
</div>