<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
  <div class="primary-container__tile primary-container__tile--1">
    <p>
      Schedule Messages 
      <%= display_img ({src: '/assets/icons/question-mark.svg', alt: 'question-mark-icon', class: 'ml-1'}) %>
    </p>
    <figure class="primary-container__tile-img--1">
      <%= display_img({src: '/assets/icons/calendar.svg', alt: 'calender-icon'}) %>

    </figure>
    <p>Upcoming <span class="blue">4 Meetings</span></p>
    <div class="primary-container__btn-box primary-container__btn-box--1">
      <%= link_to 'Edit', '#', {class: 'button button--outline'} %>
      <%= link_to 'New', '#', {class: 'button button--outline'} %>
    </div>
  </div>
</div>