<div class="secondary-container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <div class="secondary-container__tile">
        <figure class="secondary-container__tile-icon">                  
          <%= display_img({src: '/assets/icons/badge-awards.svg', alt: 'badge-award-icon' }) %>
        </figure>
        <div class="secondary__tile-desc">
          <h1 class="secondary__tile-points">240</h1>
          <h5 class="secondary__tile-title">Awards Points</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <div class="secondary-container__tile">
        <figure class="secondary-container__tile-icon">
        
        <%= display_img({src: '/assets/icons/badge-connection.svg', alt: 'badge-connection-icon' }) %>
        </figure>
        <div class="secondary__tile-desc">
          <h1 class="secondary__tile-points">19</h1>
          <h5 class="secondary__tile-title">Connections</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <div class="secondary-container__tile">
        <figure class="secondary-container__tile-icon">
          <%= display_img({src: '/assets/icons/badge-active-courses.svg', alt: 'active-course-icon' }) %>
        </figure>
        <div class="secondary__tile-desc">
          <h1 class="secondary__tile-points">15</h1>
          <h5 class="secondary__tile-title">Active Courses</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <div class="secondary-container__tile">
        <figure class="secondary-container__tile-icon">                  
          <%= display_img({src: '/assets/icons/badge-groups.svg', alt: 'badge-group-icon' }) %>
        </figure>
        <div class="secondary__tile-desc">
          <h1 class="secondary__tile-points">8</h1>
          <h5 class="secondary__tile-title">Groups</h5>
        </div>
      </div>
    </div>
  </div>
</div>
