<div class="primary-container">
  <div class="row">
   <%= render 'users/dashboard/first_row/profile' %>
   <%= render 'users/dashboard/first_row/schedule_meetings' %>
   <%= render 'users/dashboard/first_row/meetings_availability' %>
   <%= render 'users/dashboard/first_row/profile_availability_as' %>
  </div>
</div>