
<div class="discussions__com-form discussions__general">
  <h3>General Disucssion</h3>
  <p>
    Here's a place for us to talk about mentoring in the fall. The
    system will allow you to track and organize the mentoring
    sessions, goals set with students, etc.
  </p>
  <div class="discussions__foter">
    <div class="discussions__members">
      <%= display_img({src: '/assets/icons/discussions_icons/discussion-member-icon.svg', alt: 'discussion-member-icon'}) %>
      <%= link_to '#', {class: 'discussions__general-mem'} do %>
        <span>130</span> Members
      <% end %>
    </div>
    <div class="discussions__posts">
      <%= display_img({src: '/assets/icons/discussions_icons/discussion-message-icon.svg', alt: 'discussion-message-icon'}) %>
      <a href="#"><span>19,303</span> replies</a>
    </div>
  </div>
</div>