<div class="chat__searchbox">
  <form>
  	<%= display_img({src: '/assets/icons/icon-search.svg', alt: 'icon-search' }) %>
  	<input type="search" class="chat__search" placeholder="Type to search" />
  </form>
</div>