<div class="messagebox__send-wrap">
        <input type="text" placeholder="Type here" />
        <div class="messagebox__send-icons">
                <%=link_with_img({href: '#'},{src: '/assets/icons/chat_icons/transfer-icon.svg', alt: 'transfer-icon'}) %>
                <%=link_with_img({href: '#'},{src: '/assets/icons/chat_icons/emoji-icon.svg', alt: 'emoji-icon'}) %>
                <%=link_with_img({href: '#'},{src: '/assets/icons/chat_icons/send-icon.svg', alt: 'send-icon'}) %>
        </div>
</div>