Main starts -->
<main class="main main__audiocall">
	<div class="main__aside"></div>
	<section class="audiocall">
		<div class="audiocall__container">
			<div class="audiocall__middle-container">
				<%# audio call profile  %>
				<%= render 'users/audio_call/call_profile' %>
				<!-- audio calll icons -->
				<div class="audiocall__icons">
					<%= render 'users/audio_call/call_icons' %>
				</div>
			</div>
			

		</div>
	</section>
</main>
		<!-- Main ends