<main class="main main__audiocall">
	<div class="main__aside"></div>
	<section class="audiocalling">

		<div class="audiocalling__header">
			<%# caller left image %>
			<%= render 'users/audio_call/call_left_img' %>
			<%# caller right image %>
			<%= render 'users/audio_call/call_right_img' %>
		</div>

		<div class="audiocalling__middle-container">
			<%= render 'users/audio_call/call_icons' %>
		</div>

	
	</section>
</main>