
<main class="main">
  <div class="main__aside"></div>
  <section class="main__primary">


<!-- first row -->
  <%= render 'users/dashboard/dashboard_first_row' %> 
<!-- second row -->
  <%= render 'users/dashboard/dashboard_admin_account/admin_second_row' %>
<!-- third row -->
  <%= render 'users/dashboard/dashboard_second_row' %>
<!-- fourth row -->
  <%= render 'users/dashboard/dashboard_admin_account/admin_fourth_row' %>
    
    
  </section>
</main>
