<!-- Main starts -->
		<main class="main message-container">
			<div class="main__aside"></div>
			<section class="main__primary">
				<!-- First row -->
				<div class="chat">
					<div class="chat__title">Messages</div>
					<div class="chat__box">
						<a href="#">New Message</a>
						<div class="chat__searchbox">
							<img src="/assets/icons/icon-search.svg" alt="icon-search" />
							<input type="search" class="chat__search" placeholder="Type to search" />
						</div>
					</div>

					<div class="chat__container">
						<!-- message section start -->
						<div class="row">
							<!-- meaage-box-left  -->
							<div class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
								<div class="chat__conatcts">
									<!-- single card start-->
									<div class="chat__contact">
										<div class="chat__avatar">
											<img src="/assets/chat-profile-1.png" alt="chat-Profile-1" />
											<div class="chat__online"></div>
										</div>
										<div class="chat__info">
											<div class="chat__name">Sarah Mueller</div>
											<div class="chat__lastmessage">yes sure</div>
										</div>
									</div>
									<!-- single card end-->
									<div class="chat__contact">
										<div class="chat__avatar">
											<img src="/assets/chat-profile-2.png" alt="chat-Profile-2" />
										</div>
										<div class="chat__info">
											<div class="chat__name">Sven Bubble</div>
											<div class="chat__lastmessage">glad to know.. : )</div>
										</div>
									</div>

									<div class="chat__contact">
										<div class="chat__avatar">
											<img src="/assets/chat-profile-2.png" alt="chat-Profile-2" />
										</div>
										<div class="chat__info">
											<div class="chat__name">Sven Bubble</div>
											<div class="chat__lastmessage">glad to know.. : )</div>
										</div>
									</div>

									<div class="chat__contact">
										<div class="chat__avatar">
											<img src="/assets/chat-profile-1.png" alt="chat-Profile-1" />
											<div class="chat__online"></div>
										</div>
										<div class="chat__info">
											<div class="chat__name">Sarah Mueller</div>
											<div class="chat__lastmessage">yes sure</div>
										</div>
									</div>

									<div class="chat__contact">
										<div class="chat__avatar">
											<img src="/assets/chat-profile-1.png" alt="chat-Profile-1" />
											<div class="chat__online"></div>
										</div>
										<div class="chat__info">
											<div class="chat__name">Sarah Mueller</div>
											<div class="chat__lastmessage">yes sure</div>
										</div>
									</div>

									<div class="chat__contact">
										<div class="chat__avatar">
											<img src="/assets/chat-profile-2.png" alt="chat-Profile-2" />
										</div>
										<div class="chat__info">
											<div class="chat__name">Sven Bubble</div>
											<div class="chat__lastmessage">glad to know.. : )</div>
										</div>
									</div>

									<div class="chat__contact active-contact">
										<div class="chat__avatar">
											<img src="/assets/chat-profile-3.png" alt="chat-Profile-3" />
										</div>
										<div class="chat__info">
											<div class="chat__name">Martin Komiz</div>
											<div class="chat__lastmessage">Hi Martin, my name is</div>
										</div>
									</div>

									<div class="chat__contact">
										<div class="chat__avatar">
											<img src="/assets/chat-Profile-4.png" alt="chat-Profile-4" />
										</div>
										<div class="chat__info">
											<div class="chat__name">Sheela Sham</div>
											<div class="chat__lastmessage">Thank you for your reply</div>
										</div>
									</div>
									<div class="chat__contact">
										<div class="chat__avatar">
											<img src="/assets/chat-Profile-5.png" alt="chat-Profile-5" />
										</div>
										<div class="chat__info">
											<div class="chat__name">Senorita Jim</div>
											<div class="chat__lastmessage">I am not availale sorry</div>
										</div>
									</div>
									<div class="chat__contact">
										<div class="chat__avatar">
											<img src="/assets/chat-Profile-6.png" alt="chat-Profile-6" />
										</div>
										<div class="chat__info">
											<div class="chat__name">Kim Harris</div>
											<div class="chat__lastmessage">How are you doing</div>
										</div>
									</div>
									<div class="chat__contact">
										<div class="chat__avatar">
											<img src="/assets/chat-Profile-7.png" alt="chat-Profile-7" />
										</div>
										<div class="chat__info">
											<div class="chat__name">Mishi Kahn</div>
											<div class="chat__lastmessage">Sorry, was busy</div>
										</div>
									</div>
								</div>
							</div>
							<!-- meaage-box-right  -->
							<div class="col-sm-12 col-md-12 col-lg-6 col-xl-9">
								<div class="messagebox">
									<div class="messagebox__header">
										<div class="messagebox__header-left">
											<div class="messagebox__avatar">
												<img src="/assets/chat-profile-3.png" alt="chatbox-profile" />
											</div>
											<div class="messagebox__info">
												<h4>Sarah Mueller</h4>
												<a href="#">@saramueller</a>
											</div>
										</div>
										<div class="messagebox__header-right">
											<a href="#" class="vediocall-icon">
												<img src="/assets/icons/chat_icons/vediocall-con.svg" alt="vediocall-icon"
											/></a>
											<a href="#" class="audiocall-icon">
												<img src="/assets/icons/chat_icons/audiocall-icon.svg" alt="audiocall-icon"
											/></a>
										</div>
									</div>

									<div class="messagebox__conversation">
										<div class="messagebox__date">Thuerday, 20.07.2020</div>

										<div class="messagebox__message-wrap">
											<a href="#"><img src="/assets/chat-profile-3.png" alt="messagebox-image" /></a>
											<div class="messagebox__desc"><p>hi martin</p></div>
										</div>

										<div class="messagebox__message-wrap-right">
											<div class="messagebox__desc-right"><p>Hi Sarah, how are you doing ?</p></div>
											<a href="#"
												><img
													src="/assets/icons/topbar_icons/top-bar-person.png"
													alt="messagebox-image"
											/></a>
										</div>

										<div class="messagebox__message-wrap">
											<a href="#"><img src="/assets/chat-profile-3.png" alt="messagebox-image" /></a>
											<div class="messagebox__desc"><p>hi martin</p></div>
										</div>

										<div class="messagebox__message-wrap">
											<a href="#"><img src="/assets/chat-profile-3.png" alt="messagebox-image" /></a>
											<div class="messagebox__desc"><p>hi martin</p></div>
										</div>

										<div class="messagebox__message-wrap-right">
											<div class="messagebox__desc-right"><p>Hi Sarah, how are you doing ?</p></div>
											<a href="#"
												><img
													src="/assets/icons/topbar_icons/top-bar-person.png"
													alt="messagebox-image"
											/></a>
										</div>

										<div class="messagebox__message-wrap">
											<a href="#"><img src="/assets/chat-profile-3.png" alt="messagebox-image" /></a>
											<div class="messagebox__desc"><p>I am doing well, thanks</p></div>
										</div>
									</div>

									<!-- messagebox__send wrap -->
									<div class="messagebox__send-wrap">
										<input type="text" placeholder="Type here" />
										<div class="messagebox__send-icons">
											<a href="#"
												><img src="/assets/icons/chat_icons/transfer-icon.svg" alt="transfer-icon"
											/></a>
											<a href="#"><img src="/assets/icons/chat_icons/emoji-icon.svg" alt="emoji-icon" /></a>
											<a href=""><img src="/assets/icons/chat_icons/send-icon.svg" alt="send-icon" /></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- Main ends -->