
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
              <div class="primary-container__tile primary-container__tile--1">
                <p>
                  Members Match
                  <%= display_img({src: '/assets/icons/question-mark.svg', alt: 'question-mark-icon', class: 'ml-1'}) %>
                </p>
                <figure class="primary-container__tile-img--1">
                 
                  <%= display_img({src: '/assets/icons/admin/admin-match.svg', alt: 'calender-icon', class: 'ml-3'}) %>
                </figure>

                <div class="d-flex align-items-center justify-content-center">
                  <p class="font-weight-bold mr-5 gray">Active</p>
                  <div class="custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customSwitch1"
                    />
                    <label
                      class="custom-control-label"
                      for="customSwitch1"
                    ></label>
                  </div>
                </div>
                <div
                  class="primary-container__btn-box primary-container__btn-box--1"
                >
                 
                  <%= link_to 'Speed Match', '#', {class: 'button button--outline button--outline-admin'} %>
                </div>
              </div>
            </div>