    <!-- Content -->
    <div class="content">

      <h2 class="page-title">Messages</h2>

      <div class="flex-row content-ctrl">
        <div class="flex-col">
          <a href="#" class="btn-outlined">New Message</a>
        </div>
        <div class="flex-col">
          <div class="search-wrap">
            <img src="/assets/icons/search-icon.svg" />
            <input class="" />
          </div>
        </div>
      </div>

      <div class="clear20"></div>
      
      <div class="chat-area">
        <div class="contacts">
          <div class="inner">
            
            <div class="contact active">
              <div class="avatar">
                <img src="/assets/avatar.png" />
              </div>
              <div class="info">
                <div class="name">Sarah Mueller</div>
                <div class="last-message">yes, sure</div>
              </div>
            </div>

            <div class="contact">
              <div class="avatar">
                <img src="/assets/avatar.png" />
              </div>
              <div class="info">
                <div class="name">Sarah Mueller</div>
                <div class="last-message">yes, sure</div>
              </div>
            </div>

            <div class="contact">
              <div class="avatar">
                <img src="/assets/avatar.png" />
              </div>
              <div class="info">
                <div class="name">Sarah Mueller</div>
                <div class="last-message">yes, sure</div>
              </div>
            </div>

            <div class="contact">
              <div class="avatar">
                <img src="/assets/avatar.png" />
              </div>
              <div class="info">
                <div class="name">Sarah Mueller</div>
                <div class="last-message">yes, sure</div>
              </div>
            </div>

          </div>
        </div>
        <div class="message-box">
          <div class="inner">
            <div class="top">
              <div class="inner">
                
                <div class="contact-wrap ">
                  <div class="contact">
                    <div class="avatar">
                      <img src="/assets/avatar.png" />
                    </div>
                    <div class="info">
                      <div class="name">Sarah Mueller</div>
                      <div class="handle">@saramueller</div>
                    </div>
                  </div>
                </div>

                <a href="#"><img src="/assets/icons/videocall-btn.svg" /></a>

                <a href="#"><img src="/assets/icons/audiocall-btn.svg" /></a>

              </div>
            </div>
            <div class="middle">
              <div class="inner">
                <!-- ///////////////////////// -->
                <div class="date">Thursday 20.07.2020</div>

                <div class="message message-left">
                  <div class="avatar">
                    <img src="/assets/avatar.png" />
                  </div>
                  <div class="text">Hi Martin</div>
                </div>

                <div class="message message-right">
                  <div class="text">Hi Sarah, how are you doing?</div>
                  <div class="avatar">
                    <img src="/assets/avatar.png" />
                  </div>
                </div>

                <div class="message message-left">
                  <div class="avatar">
                    <img src="/assets/avatar.png" />
                  </div>
                  <div class="text">Hi Martin</div>
                </div>

                <div class="message message-right">
                  <div class="text">Hi Sarah, how are you doing?</div>
                  <div class="avatar">
                    <img src="/assets/avatar.png" />
                  </div>
                </div>

                <div class="message message-left">
                  <div class="avatar">
                    <img src="/assets/avatar.png" />
                  </div>
                  <div class="text">Hi Martin</div>
                </div>
                
                <div class="date">Thursday 20.07.2020</div>

                <div class="message message-right">
                  <div class="text">Hi Sarah, how are you doing?</div>
                  <div class="avatar">
                    <img src="/assets/avatar.png" />
                  </div>
                </div>

                

                <!-- ///////////////////////// -->
              </div>
            </div>
            <div class="bottom">
              <div class="inner">
                
                <div class="input-wrap">
                  <input type="text" placeholder="Type here" />
                </div>
                
                <a href="#"><img src="/assets/icons/paperclip.svg" /></a>
                <a href="#"><img src="/assets/icons/smile.svg" /></a>
                <a href="#"><img src="/assets/icons/send-btn.svg" /></a>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
