// Colors

$color-white: #fff;
$color-black-squeeze: #FCFDFE; // body bg
$color-blue-bayoux :#556182; // text color

// Sidebar Colors
$color-ebony-clay: #262D3D; // sidebar bg
$color-oxford-blue: #31394F; // sidebar link hover bg

$color-iron: #D8D9DC; // sidebar link
$color-athens-gray: #F6F7F9; // sidebar link active
$color-bali-hai: #8B94AE; // sidebar icon color , body text
$color-picton-blue: #56CCF2; // sidebar bright link
$color-kashmir-blue:#526089; // 35% sidebar line

$color-jungle-green: #27AE60;
$color-piper: #D9692A;

$color-selago: #EFF3FC; 
