<%# audio call profile image %>
<div class="audiocalling__left-img">
    
    <%= div_with_img({class: "audiocalling__img-wrap", },{src: '/assets/chatbox-profilr.png', alt: 'audiocalling-img-left'})%>
    <p>sara mueller</p>
    
</div>