  <%# audio call profile image %>
  <%= div_with_img({class: 'audiocall__profile pulse'},{src: '/assets/audiocall-profile.png',alt: 'audiocall-profile'} ) %>

  <div class="audiocall__desc">
    <h4>Call With Sara Mueller</h4>
    <p class="audiocall__timezone">TimeZone: (UTC+01:00) Europe - London</p>
  </div>
