<div class="col-lg-3">
<aside class="helpline_2__sidebar">
  <p>Articles in this section</p>
  <div
    class="nav flex-column"
    id="resources"
    role="tablist"
    aria-orientation="vertical"
  >
    <%= link_to 'How do I add Resources?', '#v-pills-resources', {class: 'nav-link helpline-active', id: 'v-pills-resources-tab', "data-toggle": 'pill', role: 'tab', "aria-controls": 'v-pills-resources', "aria-selected": 'true'} %>
    <%= link_to 'Add member to group', '#v-pills-member-group', {class: 'nav-link', id: 'v-pills-member-group-tab', "data-toggle": 'pill', role: 'tab', "aria-controls": 'v-pills-member-group', "aria-selected": 'false'} %>
    <%= link_to 'Publishing an Article', '#v-pills-Publishing', {class: 'nav-link', id: 'v-pills-Publishing-tab', "data-toggle": 'pill', role: 'tab', "aria-controls": 'v-pills-Publishing', "aria-selected": 'false'} %>
    <%= link_to 'Creating new Section', '#v-pills-new-Section', {class: 'nav-link', id: 'v-pills-new-Section-tab', "data-toggle": 'pill', role: 'tab', "aria-controls": 'v-pills-new-Section', "aria-selected": 'false'} %>
  </div>
</aside>