<!-- Modal  Starts Here -->
<div class="modal fade" id="schedulemodal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Scheduled Meetings</h5>
      </div>
      <div class="modal-body">
        <div class="modal-main">
          <div class="modal-main__header">
            <h4>Upcoming Meetings</h4>
          </div>
          <div class="modal-main__content">
            <div class="row">
              <div class="col-6 col-sm-4">
                <div class="modal-main__desc">
                  <p>Meeting Type</p>
                  <small>Introduction</small>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="modal-main__desc">
                  <p>Method</p>
                  <small>Phone Call</small>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="modal-main__desc">
                  <p>Mentor/ Mentee</p>
                  <small>Sarah Mueller (Mentor)</small>
                </div>
              </div>
              <div class="col-6 col-md-6">
                <div class="modal-main__desc modal-main__desc--date">
                  <p>Date & Time</p>
                  <small>12th July, 2020 at 9:00 AM (BST)</small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="modal-main__schedule">
                  <a href="#" class="model-main__schedule-btn">Re-Schedule</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-main">
          <div class="modal-main__content">
            <div class="row">
              <div class="col-6 col-sm-4">
                <div class="modal-main__desc">
                  <p>Meeting Type</p>
                  <small>Self Confidence</small>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="modal-main__desc">
                  <p>Method</p>
                  <small>In Person</small>
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="modal-main__desc">
                  <p>Mentor/ Mentee</p>
                  <small>Sven Bach (Mentee)</small>
                </div>
              </div>
              <div class="col-6 col-sm-6">
                <div class="modal-main__desc modal-main__desc--date">
                  <p>Date & Time</p>
                  <small>12th July, 2020 at 9:00 AM (BST)</small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="modal-main__schedule">
                  <a href="#" class="model-main__schedule-btn">Re-Schedule</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="button button--blue">Go To Dashboard</button>
      </div>
    </div>
  </div>
</div>