<div
  class="tab-pane fade"
  id="account-settings"
  role="tabpanel"
  aria-labelledby="profile-tab"
  >
  <h5 class="setting__tabs-title">Account Settings</h5>
  <%= render 'users/edit_profile/account_setting_list' %>
     <!-- Account Area -->
  <%= render 'users/edit_profile/account_area' %>
</div>