<div class="tab-pane fade" id="communication" role="tabpanel" aria-labelledby="profile-tab" >
  <div class="communication regular-tab">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="regular-tab__group">
          <label for="name" class="regular-tab__label"> Skype </label>
          <input type="text" class="regular-tab__input" />
        </div>
        <div class="regular-tab__group">
          <label for="name" class="regular-tab__label">
            Google Hangouts
          </label>
          <input type="text" class="regular-tab__input" />
        </div>
        <div class="regular-tab__group">
          <label for="name" class="regular-tab__label"> Zoom </label>
          <input type="text" class="regular-tab__input" />
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-12">
        <div class="regular-tab__group">
          <button class="button button--blue">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>