
<div class="editprofile__progress">
    <div class="editprofile__title">
        <p>Profile 20% Complete</p>
        <%= display_img({src: '/assets/icons/question-mark.svg', alt: ''})%>
    </div>

    <div class="editprofile__progress-bar">
        <div class="editprofile__progress-bar-tile progress-active"></div>
        <div class="editprofile__progress-bar-tile progress-active"></div>
        <div class="editprofile__progress-bar-tile"></div>
        <div class="editprofile__progress-bar-tile"></div>
        <div class="editprofile__progress-bar-tile"></div>
        <div class="editprofile__progress-bar-tile"></div>
        <div class="editprofile__progress-bar-tile"></div>
        <div class="editprofile__progress-bar-tile"></div>
        <div class="editprofile__progress-bar-tile"></div>
        <div class="editprofile__progress-bar-tile"></div>
    </div>
</div>