<div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
  <div class="editprofile__sidebar">
    <!-- Profile image -->
    <div class="editprofile__userimage">
      <figure>
       <%= link_to '#', class:'editprofile__edit-avatar' do %>
        <%= display_img({src: '/assets/icons/profile-edit-icon.svg', alt: '', class: 'profile-edit-icon'})%>
        <% end %>
        <%= display_img({src: '/assets/form-avatar.png', alt: '', class: 'editprofile__avatar'})%>
      </figure>
    </div>

    <!-- Side tabs  -->
    <%= render 'users/edit_profile/side_tabs'%>

  </div>
</div>