@import "variables";
.button {
	padding: 1.2rem 2rem;
	display: inline-block;
	border-radius: 0.5rem;
	font-size: 1.4rem;

	&__status {
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		margin-right: 0.8rem;
	}

	&:hover {
		color: $dark-gray;
		text-decoration: none;
	}

	&--available {
		display: flex;
		align-items: center;
		color: $dark-gray;
		border: 1px solid #b8c1d9;

		@media only screen and (max-width: 768px) {
			padding: 1rem;
		}

		span {
			@media only screen and (max-width: 768px) {
				display: none;
			}
		}

		img {
			@media only screen and (max-width: 768px) {
				margin-right: 0;
			}
		}
	}

	&--outline {
		font-weight: 400;
		font-size: 1.2rem;
		color: $blue;
		border: 1px solid #b8c1d9;
		text-transform: capitalize;
		padding: 0.5rem 1.2rem;
		transition: all 0.3s;

		&:hover {
			background: #eff3fc;
			color: $blue;
		}
	}
	&--blue {
		background: $light-gray;
		border-radius: 3px;
		border: 0;
		outline: 0;
		padding: 0.5rem 5rem;
		color: #fff;
		font-weight: bold;
		font-size: 1.3rem;
		border: 2px solid transparent;

		transition: all 0.3s;

		&:hover {
			background: #fff;
			color: $light-gray;
			border: 2px solid #b8c1d9;
		}
	}
}

.pill {
	font-size: 1.1rem;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 0.8rem;
	padding: 0.5rem 1rem;
	transition: all 0.3s;

	&-blue {
		background-color: $pill-blue;
		color: $light-gray;

		&:hover {
			color: $light-gray;
			background-color: darken($pill-blue, 3%);
		}
	}

	&-light {
		background-color: $pill-light;
		color: $light-gray;

		&:hover {
			color: $light-gray;
			background-color: darken($pill-light, 3%);
		}
	}

	&-red {
		background: $color-red;
		margin-left: auto;
		color: #fff;
		font-weight: 700;

		&:hover {
			color: #fff;
			background: darken($color-red, 3%);
		}
	}

	&-yellow {
		background: $color-yellow;
		margin-left: auto;
		color: #fff;

		&:hover {
			color: #fff;
			background: darken($color-yellow, 5%);
		}
	}

	&-input{
		background: #EFF3FC;
		border-radius: 7px;
		color: $light-gray;

		&:hover{
			color: $light-gray;
		}
	}
	&-cross-icon{
		padding-left: 0.5rem;
	}
}

.fas {
	&--fa-circle-1 {
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $gray;
	}
}

.back-button {
	font-size: 1.8rem;
	font-weight: 700;
	color: $light-gray;

	&:hover {
		color: $light-gray;
	}
}

