 <div class="col-sm-12 col-md-5 col-lg-3">
  <div class="events__sidebar">
    <div class="events__primary">
      <h3 class="events__title-1">Date and Time</h3>
      <p class="events__date-time">Sa, Sep 29, 2020, 6:00 PM</p>
      <%= link_to 'Add to Calendar', '#', {class: 'events__add-calender'} %>
    </div>
    <div class="events__secondary">
      <h3 class="events__title-2">Location</h3>
      <p class="events__address">
        Mentory City, Toronto 13 Howard St Toronto, CA 12367 Canada
      </p>
      <%= link_to 'View Map', '#', {class: 'events__view-map'} %>
    </div>
    <div class="events__tertiary">
      <h3 class="events__title-3">Price</h3>
      <p class="events__free-tile">Free</p>
    </div>
    <div class="events__foter">
      <%= link_to 'Register Now', '#', {class: 'button--blue events__register'} %>
    </div>
  </div>
</div>