<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
  <div class="tertiary-container__tile">
    <div class="tertiary-container__header">
      <h6 class="tertiary-container__title">Upcoming Meetings</h6>
    </div>
    <ul class="tertiary-container__row-box">
      <li class="tertiary-container__row">
        <div class="tertiary-container__desc">
          <figure class="">
            <%= display_img({src: '/assets/meeting-avatar-1.png', alt: 'meetin-avatar-1'}) %>
          </figure>
          <div>
            <p class="tertiary-container_name">Maria Smith</p>
            <p class="tertiary-container_datetime">22 July <span>|</span> 4:00 pm</p>
          </div>
        </div>
      </li>
      <li class="tertiary-container__row">
        <div class="tertiary-container__desc">
          <figure class="">
            <%= display_img({src: '/assets/meeting-avatar-2.png', alt: 'meetin-avatar-2'}) %>
          </figure>
          <div>
            <p class="tertiary-container_name">Mishi Tipu</p>
            <p class="tertiary-container_datetime">22 July <span>|</span> 4:00 pm</p>
          </div>
        </div>
      </li>

      <li class="tertiary-container__row">
        <div class="tertiary-container__desc">
          <figure class="">
            <%= display_img({src: '/assets/meeting-avatar-3.png', alt: 'meetin-avatar-3'}) %>
          </figure>
          <div>
            <p class="tertiary-container_name">Sven Blum</p>
            <p class="tertiary-container_datetime">22 July <span>|</span> 4:00 pm</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="tertiary-container__footer">
      <%= link_to 'View All >', '#' %>
    </div>
  </div>
</div>