<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
      <div class="tertiary-container__tile">
        <div class="tertiary-container__header">
          <h6 class="tertiary-container__title">Widget 4</h6>
        </div>
        <div class="tertiary-container__footer">
          <%= link_to 'View All >', '#' %>
        </div>
      </div>
    </div>