<!-- Header -->
<div class="header">
  <a href="#" class="logo">
    <img src="/assets/logo.png" />
  </a>
  <div class="right">
    <ul>
      <li><a href="#" class="unread messages"><img src="/assets/icons/icon-message.svg" /></a></li>
      <li><a href="#" class="unread notifications"><img src="/assets/icons/icon-notification.svg" /></a></li>
      <li><a href="#" class="btn-outlined"><span class="available"></span><span>Available</span></a></li>
      <li>
        <div class="contact">
          <div class="avatar">
            <img src="/assets/avatar.png" />
          </div>
          <div class="info">
            <div class="name">Sarah Mueller</div>
            <div class="user-role">Member</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>