<aside class="side-bar">
  <%= side_bar(main_menue_items) %>

  <div class="side-bar__bottom">
    <%= side_bar(sub_main_meue_items) %>
    <ul class="side-bar__list">
      <li class="side-bar__item">
        <a href="#" class="side-bar__link side-bar__link--app">
          <img
            src="/assets/icons/sidebar_icons/sidebar-phone.svg"
            class="sidebar__link-icon"
            alt="access-conn-icon"
          />
          Access Connections
          <span>Get the app</span>
        </a>
      </li>
    </ul>
    <%= side_bar(['Helpline']) %>
  </div>
</aside>