<!-- Sidebar -->
<div class="sidebar">
  
  <ul class="first">
    <li class="active">
      <a href="#">
        <span><img src="/assets/icons/icon-dashboard.svg" /></span>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-connection.svg" /></span>
        <span>Connections</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-mentors.svg" /></span>
        <span>Mentors</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-mentees.svg" /></span>
        <span>Mentees</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-groups.svg" /></span>
        <span>Groups</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-awards.svg" /></span>
        <span>Awards</span>
      </a>
    </li>
  </ul>

  <ul class="second">
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-courses.svg" /></span>
        <span>Courses</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-events.svg" /></span>
        <span>Events</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-resources.svg" /></span>
        <span>Resources</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-discussion.svg" /></span>
        <span>Discussions</span>
      </a>
    </li>
  </ul>

  <ul class="third">
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-mobile.svg" /></span>
        <span>Access Connections<span class="link-app">Get the app</span></span>
      </a>
    </li>
  </ul>

  <ul class="fourth">
    <li>
      <a href="#">
        <span><img src="/assets/icons/icon-helpline.svg" /></span>
        <span>Helpline</span>
      </a>
    </li>
  </ul>

</div>